/*** base styles ***/
 body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: #21143D;
}

/*** grids ***/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/** header **/
header {
  clear: both;
  background-image: url('../img/hero-image-12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}


/** navigation **/
nav {
  float: left;
  margin-left: 400px;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;

}

nav a {
  text-decoration: none;
  color: #21143D;
}

/** greeting **/
#greeting {
  font-family: 'Libre Baskerville', serif;
  clear: both;
  text-align: left;
  padding: 100px 0 40px 100px;
}

#greeting h1 {
  font-size: 34px;
  word-spacing: 5px;
}

#greeting h2 {
  line-height: 38px;
  font-size: 24px;
  color: #bebec1;
}

#greeting span {
  color: #601009;
  font-family: 'Sacramento', cursive;
  font-size: 48px;
}


/*** work ***/
#work {
clear: both;
overflow: auto;
}

#work h2 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  color: #601009;
}

#first-project {
  float: left;
}

#work h2 {
  padding: 40px 0 40px 0;
  font-family: 'Libre Baskerville', serif;
}

#work img {
  padding-left: 120px;
  width: 450px;
  padding-bottom: 60px;
}


#work .project-description {
  width: 500px;
  padding-left: 40px;
}

#work h3 {
  font-family: 'Libre Baskerville', serif;
  color: #601009;
}

#work h4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  line-height: 20px;
}

#work p {
  color: #bebec1;
  /** width: 500px; **/
}

#third-project {
  float: left;
}

#forth-project {
  float: left;
}


#fifth-project {
  float: left;
}

#sixt-project {
  float: left;
}

#seveth-project {
  float: left;
}



/** about me **/
#about {
  background: #bebec1;
  overflow: auto;
}

#about h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
  font-family: 'Libre Baskerville', serif;

}

#about img {
  width: 200px;
  border-radius: 50%;
  margin-left: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

#about h3 {
  font-family: 'Libre Baskerville', serif;
  color: #601009;
}

#about p {
  width: 500px;
}

/** footer **/
footer {
  background: #21143D;
  overflow: auto;
}

#contact {
  color: #e5e5e6;
}

#contact h2 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hire {
  text-align:center;
}

#hire h3 {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

#hire p {
  font-weight: lighter;
}

#hire a {
  font-weight: lighter;
  text-decoration: none;
  color: #e5e5e6;
}

#connect {
  text-align:center;
}

#connect h3 {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

#connect ul li {
  display: inline-block;
  margin-right: 30px;
}

#meet {
  text-align:center;
}

#meet h3 {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

#meet p {
  font-weight: lighter;
}

#copyright {
  clear: both;
  text-align: center;
}

#copyright p{
  font-weight: lighter;
  padding-top: 50px;
  font-size: 12px;
}












/** about me **/
/**#about {
  height: 600px;
  background: #5A2267;
  clear: both;
  overflow: auto;
} **/
